<h1>Обновление пользователя</h1>
<form [formGroup]="updateForm" (ngSubmit)="updateUser()">
    <div>
      <span>Введите имя</span>
      <input class="name" formControlName="name" placeholder="Введите имя">
      <div class="warning-text" *ngIf="updateForm.get('name')?.invalid && updateForm.get('name')?.touched">Напишите имя</div>
    </div>

    <div>
      <span>Введите логин</span>
      <input type="text" placeholder="Введите логин" formControlName="login">
      <div class="warning-text" *ngIf="updateForm.get('login')?.invalid && updateForm.get('login')?.touched">Напишите логин</div>
  </div>
  
    <div>
      <span>Введите пароль</span>
      <input class="password" formControlName="password" placeholder="Введите пароль">
      <div class="warning-text" *ngIf="updateForm.get('password')?.invalid && updateForm.get('password')?.touched">Напишите пароль</div>
    </div>
  
    <div>
      <span>Введите возраст</span>
      <input class="age" formControlName="age" type="number" placeholder="Введите возраст">
      <div class="warning-text" *ngIf="updateForm.get('age')?.invalid && updateForm.get('age')?.touched">Пользователь должен быть старше 18</div>
    </div>

    <div>
      <span>Выберите роль</span>
      <app-string-list addLabel="Добавить роль" [availableValues]="availableRoles" formControlName="userRoles"></app-string-list>
    </div>

    <button type="submit" [disabled]="updateForm.invalid">Обновить данные</button>
</form>
