<h1>Создание пользователя</h1>
<form [formGroup]="myForm" (ngSubmit)="createUser()">
    <div class="add-user">
        <div>
            <span>Введите имя</span>
            <input type="text" placeholder="Введите имя" formControlName="name">
            <div class="warning-text" *ngIf="myForm.get('name')?.invalid && myForm.get('name')?.touched">Напишите имя</div>
        </div>

        <div>
            <span>Введите логин</span>
            <input type="text" placeholder="Введите логин" formControlName="login">
            <div class="warning-text" *ngIf="myForm.get('login')?.invalid && myForm.get('login')?.touched">Напишите логин</div>
        </div>

        <div>
            <span>Введите пароль</span>
            <input type="text" placeholder="Введите пароль" formControlName="password">
            <div class="warning-text" *ngIf="myForm.get('password')?.invalid && myForm.get('password')?.touched">Напишите пароль</div>
        </div>

        <div>
            <span>Введите возраст</span>
            <input type="number" placeholder="Введите возраст" formControlName="age">
            <div class="warning-text" *ngIf="myForm.get('age')?.invalid && myForm.get('age')?.touched">Пользователь должен быть старше 18</div>
        </div>

        <div>
            <span>Выберите роль</span>
            <app-string-list addLabel="Добавить роль" [availableValues]="availableRoles" formControlName="userRoles"></app-string-list>
        </div>
            
        <button type="submit" [disabled]="!myForm.valid">Сохранить</button>
    </div>
</form>