<!-- <div>
    <span>Введите логин</span>
    <input type="text" placeholder="Введите логин" formControlName="login">
    <div class="warning-text" *ngIf="myForm.get('login')?.invalid && myForm.get('login')?.touched">Напишите логин</div>
</div>

<div>
    <span>Введите пароль</span>
    <input type="text" placeholder="Введите пароль" formControlName="password">
    <div class="warning-text" *ngIf="myForm.get('password')?.invalid && myForm.get('password')?.touched">Напишите пароль</div>
</div> -->
