<button class="exit" [routerLink]="['..']">Выйти</button>
<div *ngIf="user">
    <span>Имя</span>
    {{user.name}}
    <span>Логин</span>
    {{user.login}}
    <span>Возраст</span>
    {{user.age}}
    <div *ngIf="user.userRoles.length > 0">
        <h3>Роль:</h3>
        <ul>
          <li *ngFor="let role of user.userRoles">{{ role }}</li>
        </ul>
</div>
<button class="update-user" [routerLink]="['update']">Обновить данные</button>
<button class="delete-user" (click)="deleteUser()">Удалить пользователя</button>



 