<header>
    <app-bread-crumbs></app-bread-crumbs>
    <div *ngIf="authService.currentUser$ | async as user; else enter">
        <span>Привет, {{ user.name }}</span>
        <button (click)="logout()">Выйти</button>
    </div>
    <ng-template #enter>
        <button [routerLink]="['/login']">Войти</button>
    </ng-template>
</header>
<main>
    <router-outlet></router-outlet>
</main>
<footer>
    <div class="social-icons">
        <img src="/assets/socials-icons.svg" alt="social">
    </div>
</footer>   